@{
    ViewBag.Title = "About";
}

<h3>NorthWest Labs Founders</h3>

<div class="container text-center w3-text-white">

    <div class="row">
        <div class="col-sm-3">
            <img src="~/Graphics/trent.jpg" class="img-circle" alt="Random Name" height="200" width="200">
            <p id="white"><strong>Trent</strong></p>
            <p id="white">"I love testing compounds!"</p>
        </div>
        <div class="col-sm-3">
            <img src="~/Graphics/sam.jpg" class="img-circle" alt="Random Name" height="200" width="200">
            <p id="white"><strong>Sam</strong></p>
            <p id="white">"Northwest Labs is the best place to work!"</p>
        </div>
        <div class="col-sm-3">
            <img src="~/Graphics/sperry.jpg" class="img-circle" alt="Random Name" height="200" width="200">
            <p id="white"><strong>Sperry</strong></p>
            <p id="white">"Assays are my specialty!"</p>
        </div>
        <div class="col-sm-3">
            <img src="~/Graphics/ian.jpg" class="img-circle" alt="Random Name" height="200" width="200">
            <p id="white"><strong>Ian</strong></p>
            <p id="white">"I have a passion for science!"</p>
        </div>
    </div>
</div>
