
@{
    ViewBag.Title = "EmployeeLinks";
}

<h2>Employee Links</h2>

<div class="btn btn-default">@Html.ActionLink("Assay Types Table", "Index", "AssayTypes", null, null)</div>
<br />

<div class="btn btn-default">@Html.ActionLink("Assays Table", "Index", "Assays", null, null)</div>
<br />

<div class="btn btn-default">@Html.ActionLink("Tests Table", "Index", "SpecificTests", null, null)</div>

