@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>NorthWest Labs</h1>
    <p class="lead">NorthWest Labs provides clients with quick, accurate, and reliable test results. </p>
    <p><a href=@Url.Action("Login", "Home") class="btn btn-primary btn-lg">Customer Log In &raquo;</a></p>
    <p><a href=@Url.Action("Login", "Home") class="btn btn-primary btn-lg">Employee Log In &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            NorthWest Labs performs tests on various compounds for clients. Clients may place orders online and track the status of those orders through an intuitive interface.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
</div>